/* Left menu hidden items */
a[href="#main-content"] {
	+ div {
		> nav:first-child{
			> div {
				> ul {
					> li:has(a[aria-label="Deploy"]),
					> li:has(a[aria-label="SEO Vitals"]),
					> li:has(a[aria-label="Generated Types"]) {
						display: none;
					}
				}
			}
		}
	}
}

/* Seo aside style fix */
[aria-labelledby="additional-information"] {
	> div {
		&:has([data-testid="seo-browser-preview"]) {
			width: 100%;
			padding: 0;
		}
	}
}
